* {
    margin: 0px;
    padding: 0px;    
}

.container{
    margin: 50px auto;
    width: 800px;
    border: 1px solid snow;
    box-shadow: 0px 0px 100px 8px aquamarine;
    border-radius: 5px;
}

.container .judul{
    width: 800px;
}

.kotak-login{
    width: 800px;
    height: 330px;
    display: flex;
}

.judul img{
   width: 150px;
   height: 150px;
   margin: 10px;
}

.judul h1{
    text-align: center;
}

.kolom-uspas{
    width: 400px;
    height: 280px;
    margin: 20px 10px;
    padding: 5px;
    border-right: 1px solid aquamarine;
}

.kolom-video video{
    width: 350px;
    margin: 60px 10px;
}

.ingat{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width: 380px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.ingat a{
    padding-left: 150px;
}

.form_login_user {
    box-sizing: border-box;
    width: 380px;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
    border: 2px solid aquamarine;
}

.form_login_pass {
    box-sizing: border-box;
    width: 380px;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
    border: 2px solid aquamarine;
    display: inline-flex;
}

.form_tombol1{
    margin: 15px 0px;
    border: 1px solid aquamarine;
    border-radius: 5px;
    background: aquamarine;
    width: 380px;
    height: 30px;
}
