@font-face {
    font-family: bintangFont;
    src: url(../fonts/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

@font-face {
    font-family: myFont;
    src: url(../fonts/static/ShantellSans-Medium.ttf);
}

@font-face {
    font-family: akuFont;
    src: url(../fonts/static/ShantellSans-SemiBold.ttf);
}

h1 {
    text-align: center;
    font-family: bintangFont;
    margin: 40px;
}

h4 {
    font-family: myFont;
}

h5 {
    font-family: akuFont;
}

.content .list-produk{
    margin-top: 5%;
    margin: 25px 50px;
}

.list-produk{
    border: 1px solid gainsboro;
    padding: 10px;
    float: left;
    width: 200px;
    margin: 3px;
}

.list-produk:hover{
    transition-duration: 700ms;
    box-shadow: 5px 5px gainsboro;
}

.list-produk img{
    width: 100%;
    height: 175px;
    display: block;
    margin-bottom: 5px;
}

.list-produk h4, .list-produk h5{
    color: black;
    text-align: center;
}

.tombol{
    text-decoration: none;
    display: flex;
    float: left;
    text-align: center;
    color: white;
    height: 25px;
    margin-top: 5px;
}

.tombol-detail{
    background-color: rgb(12, 232, 67);
    margin-right: 25px;
    text-decoration: none;
    width: 75px;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.tombol-detail:hover {
    background-color: green;
    transition-duration: 1000ms;
}

.tombol-beli{
    background-color: rgb(255, 76, 183);
    margin-left: 10px;
    text-decoration: none;
    width: 75px;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.tombol-beli:hover{
    background-color: crimson;
    transition-duration: 1000ms;
}